.git
.github
.pytest_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
.venv
venv
htmlcov
.coverage
*.egg-info
dist
build
.DS_Store
Thumbs.db
docs
mkdocs.yml
.codecov.yml
.markdownlint.json
_commit_msg.txt
CHANGELOG.md
CONTRIBUTING.md
SECURITY.md
